@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@font-face {
  font-family: Fresh;
  src: url(/megaFreshFont.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  color: #ffb116 !important;
  font-weight: 600;
}
.selected {
  background-color: #59815b;
  color: white;
}


/* Dark mode dropdown styles */

 .custom-dropdown .ant-dropdown-menu {
  width: 140px !important;
  
}

.dark .custom-dropdown .ant-dropdown-menu {
  background-color: #0F1325 !important; 
  color: white !important; 
  
}


.dark .custom-dropdown .ant-dropdown-menu-item {
  color: white !important; 
 
}


.dark .custom-dropdown .ant-dropdown-menu-item:hover {
  background-color: #1e293b !important;
}

.dark .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255) !important;
}